{% extends 'index.html' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"> S P E C S / </span> U P D A T E</h4>

      <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                <div class="card-body">
                        <form action="/specs-update/{{s.id}}" method="POST">
                            {% csrf_token %} 
                            <div class="modal-body">
                            <div class="row">
                                <div class="col mb-3">
                                <label for="nameBasic" class="form-label">NAME</label>
                                <input name="specs_name" type="text" id="nameBasic" class="form-control" placeholder="Enter Name" value="{{s.specs_name}}" />
                                </div>
                            </div>
                            
                            </div>
                            </div>
                            <div class="modal-footer">
                            <a href="/specs"><button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                Close
                            </button></a>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>
                       
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}  